.contactLanding {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 7%;
}

.formHeader {
  width: 41.7vw;;
  height: 11vh;
  border: solid rgba(0, 0, 0, 0.179) 2px;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(43, 48, 53);
  color: #fff;
}

.headerText {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 22px;
  padding-left: 4%;
}

.contactForm {
  width: 41.7vw;
  height: 54vh;
  border: rgba(0, 0, 0, 0.179) solid 2px;
  border-top: none;
  border-radius: 0px 0px 10px 10px;
  background-color: rgba(43, 48, 53, 0.55);
  padding: 0% 3% 3% 3%;
}

.infoContainer {
  color: #fff;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 20px;
}

.label {
  display: block;
}

.input {
  width: 50%;
  border: transparent solid 2px;
  border-radius: 5px;
}

.messageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 20px;
}

.messageLabel {
  display: block;
  padding: 10px;
}

.message {
  width: 100%;
  height: 27vh;
  border: transparent solid 2px;
  border-radius: 5px;
}

.label {
  padding: 10px;
}