.contactLanding {
  min-height: 87.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6%;
  background-color: rgb(83, 93, 103);
}

.formHeader {
  width: 41.7vw;;
  height: 11vh;
  border: solid rgba(0, 0, 0, 0.179) 2px;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(43, 48, 53);
  color: #fff;
}

.headerText {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 30px;
  padding-left: 5%;
}

.contactForm {
  width: 41.7vw;
  height: 54vh;
  border: rgba(0, 0, 0, 0.179) solid 2px;
  border-top: none;
  border-radius: 0px 0px 10px 10px;
  background-color: rgba(43, 48, 53, 0.55);
  padding: 0% 2% 2% 2%;
}

.logoAndInputContainer {
  display: flex;
  flex-direction: row;
  padding: 0%;
}

.ratwareColorText {
  height: 200px;
  width: 200px;
  width: 30%;
}

.infoContainer {
  color: #fff;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 20px;
  width: 60%;
}

.label {
  display: block;
}

.input {
  width: 70%;
  border: transparent solid 2px;
  border-radius: 5px;
}

.messageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 20px;
  margin-bottom: 2%;
}

.messageLabel {
  display: block;
  padding: 10px;
}

.message {
  width: 100%;
  height: 22vh;
  border: transparent solid 2px;
  border-radius: 5px;
}

.sendButton {
  display: flex;
  justify-content: right;
}

.label {
  padding: 2%;
}