.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.landing {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(83, 93, 103);
  min-width: 100vw;
  min-height: 87.5vh;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: 'Be Vietnam Pro', sans-serif;
}

#animated {
  opacity: 0;
  animation: fade-in 5s linear;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}