.container {
  min-width: 100vw;
  padding: 0px;
}

.navLinks {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 22px;
}

.brand {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 22px;
}